h1, body, html, main {
  margin: 0 auto;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}
body {
  position: relative;
  width: 1000px;
  margin: auto;
}


.container {
  position: relative;
  width: 1000px;
  margin: auto;
}


.text-block {
  position: absolute;
  color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
  font-family: 'Montserrat', sans-serif;
}

.recipe-info{
  /* width: 75vh; */
  height: 10vh;
  /* margin-left: 25vh; */
}

.pie-img{
  width: 95vh;
  height: 75vh;
  margin-left: 25vh;
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}